<template>
    <div class="container">
        <div class="row col-md-12">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Users Table</h3>

                <div class="card-tools">
                    <!-- Open modal event -->
                    <button class="btn btn-success" @click="newModal">Add New
                        <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Type</th>
                      <th>Registered at</th>
                      <th>Modify</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="user in users" :key="user.id">
                      <td>{{ user.id }}</td>
                      <td>{{ user.name }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.type | capitalize }}</td>
                      <td>{{ user.created_at | myDate}}</td>
                      <td>
                          <a href="#" @click="editModal(user)">Edit
                              <i class="fa fa-edit blue"></i>
                          </a>/
                          <!-- on click event -->
                          <a class="red" href="#" @click="deleteUser(user.id)">Delete
                              <i class="fa fa-trash red"></i>
                          </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Check if edit mode is true -->
              <form @submit.prevent="editmode ? updateUser() : createUser()">
                  <div class="modal-body">
                      <div class="form-group">
                          <input v-model="form.name" type="text" name="name"
                              placeholder="Name"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                          <has-error :form="form" field="name"></has-error>
                      </div>

                      <div class="form-group">
                          <input v-model="form.email" type="email" name="email"
                              placeholder="Email Address"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                          <has-error :form="form" field="email"></has-error>
                      </div>

                      <div class="form-group">
                          <textarea v-model="form.bio" name="bio" id="bio"
                          placeholder="Short bio for user (Optional)"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                          <has-error :form="form" field="bio"></has-error>
                      </div>

                      <div class="form-group">
                          <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                              <option value="">Select User Role</option>
                              <option value="admin">Admin</option>
                              <option value="user">Standard User</option>
                              <option value="author">Author</option>
                          </select>
                          <has-error :form="form" field="type"></has-error>
                      </div>

                      <div class="form-group">
                          <input v-model="form.password" type="password" name="password" id="password"
                           placeholder="Password"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                          <has-error :form="form" field="password"></has-error>
                      </div>

                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <!-- Vue conditional based on edit mode status -->
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    export default {
        // Return Data object
        data() {
            return {
                // Variable to check if the modal is to create or edit user
                editmode: false,

                // declare users object
                users : {},
                // New instance of a vue-form
                form : new Form({
                    id : '',
                    name : '',
                    email : '',
                    password : '',
                    type : '',
                    bio : '',
                    photo : ''
                })
            }
        },
        methods : {
          loadUsers() {
            // Fetch users from get url and store them in the users object
            axios.get("api/user").then(({ data }) => (this.users = data.data));
          },
          // new user
          newModal(){
            // Update editmode variable
            this.editmode = false;

            // vform function to reset form fields data
            this.form.reset();

            // Show modal
            $('#addNew').modal('show');
          },
          // edit user, accept data 
          editModal(user){
            // Update editmode variable
            this.editmode = true;

            // reset form fields data
            this.form.reset();

            // Show form
            $('#addNew').modal('show');

            // Fill data with user data
            this.form.fill(user) 

          },
          createUser(){
            // Start the progress bar
            this.$Progress.start();
            
            // Submit form to api/user post route
            
            this.form.post('api/user')
            // es6 promise
            // If http request was successful
            .then(()=>{
              // Fire event creating a user
              Fire.$emit('after-create');
              
              // Close modal after submitting user
              $('#addNew').modal('hide');

              // Show a toaster alert
              Toast.fire({
                icon: 'success',
                title: 'User Created successfully'
              });

              //Finish progress bar after successful form submit 
              this.$Progress.finish();
            })
            // Catch errors
            // If request not successful
            .catch(()=>{

            });


          },
          updateUser(){
            // Start the progress bar
            this.$Progress.start();

            // vform update data, get id from form object
            this.form.put('api/user/'+this.form.id)

            // if successful
            .then(() => {
              Swal.fire(
                'Updated!',
                'User information has been updated',
                'success'
              )

              // Fire event to reload users
              Fire.$emit('after-create');

              // Close modal after submitting user
              $('#addNew').modal('hide');

              //Finish progress bar after successful form submit 
              this.$Progress.finish();
            })
            // if errors
            .catch(() => {
              // Turn progress bar to red
              this.$progress.fail();
            })
          },
          deleteUser(id){ 
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            })
            // will run if confirmed
            .then((result) => {
              // Send request to the server if return value is yes
              if (result.value) {
                this.form.delete('api/user/'+id)
                // if delete is successful
                .then(()=>{
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )

                  // Fire event to reload users
                  Fire.$emit('after-create');
                })
                // If delete was unsuccessful delete
                .catch(()=> {
                  swal('Failed', 'Something went wrong')
                });
              }
            })
          }
        },
        mounted() {
            // fetch users when the component is mounted 
            this.loadUsers();

            // Listen for an event; function call es6
            Fire.$on('after-create', () => {
              // Load users when the event is fired
              this.loadUsers();
            });
        }
    }
</script>
